html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  position: relative;
  margin: 0px;
  background-color: white;
}

#logo-style {
  width: 19%;
  margin-top: 0.5%;
}

#logo-div-style {
  text-align: center;
}

#navbar-bg {
  background-color: #d4b5b0;
  padding: 0px;
}

#dropdown-text {
  color: white;
}

#dropdown-text:hover {
  color: #383e56;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 1.5rem;
  padding: 7px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #383e56;
}

a.ui.dropdown .menu>.item {
  color: #383e56;
  font-size: 1.2rem;
}

a.ui.dropdown .menu>.item:hover {
  color: #d4b5b0;
}

.ui.simple.dropdown .menu {
  margin-top: 0.2rem;
}

.dropdown-item {
  color: red;
}

.dotted-line {
  white-space: nowrap;
  position: relative;
  overflow: hidden;
}

.dotted-line:after {
  content: "........";
  letter-spacing: 6px;
  font-size: 3rem;
  color: #d4b5b0;
  display: inline-block;
  vertical-align: 3px;
  padding-left: 10px;
}

.footer-rule {
  width: 20%;
  margin-bottom: 2vw;
  border: 0;
  height: 1px;
  text-align: center;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #d4b5b0, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #d4b5b0, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #d4b5b0, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #d4b5b0, #f0f0f0);
}

ul {
  list-style-type: circle;
}
li {
  line-height: 2em;
}

.navbar-center {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.footer-height {
  height: 0.2rem;
}

.col {
  margin: 0px;
  padding: 0px;
}

.testo:hover {
  color: #383e56;
}

i.dropdown.icon {
  margin-left: 3px !important;
}

.carousel-img {
  width: 100%
}

.carousel-img-slim {
  display: none;
}

.carousel-item {
  padding: 0 0 0 0px;
  backface-visibility: visible;
}

.footer-style {
  text-align: center;
  color: #d4b5b0;
}

.copyright-text {
  margin-bottom: 0px;
}
.copyright-text-slim {
  display: none;
  margin-bottom: 0px;
}

.service-portrait {
  display: none;
}

.service-row {
  padding-top: 3%;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 3%;
}
.MuiCardActions-spacing{
  /*damit der button unten bleibt*/
       margin-top:auto;
  }

  #big-leistung{
    display: none;
  }

.hr-duck {
  border: 0;
  height: 1px;
  text-align: center;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  margin-bottom: 3rem;
}

.hr-duck:after {
  content: "";
  display: inline-block;
  position: relative;
  top: -15px;
  padding: 0 10px;
  background: white;
  color: #8c8b8b;
  font-size: 18px;
}

.paper-header {
  text-align: center;
  margin-bottom: 3rem;
  color: #383e56;
}

.paper-img-style {
  width: 100%;
  border-radius: 1%;
}

.paper-text-style {
  font-size: 1.35vw;
  padding: 2em;
}

.paper-text-style-slim {
  display: none;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: manual;
  font-size: 1.3em;
  padding: 3em;
}

.paper-img-style-slim {
  width: 100%;
  display: none;
}

.fa-arrow-left:before {
  font-size: 2em;
  color: #383e56;
}

.arrow-div {
  text-align: left;
}

.img-holder {
  display: flex;
  width: 100%;
  height: auto;
  min-height: 100vh;
  justify-content: center;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.img-holder-slim {
  display: none;
  width: 100%;
  min-height: 40vh;
  background-position: center top;
  background-attachment: fixed;
  background-size: 140%;
  justify-content: center;
}

.about-me-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vw;
  color: white;
  line-height: 1.2em;
}

.holder2 {
  width: 100%;
  height: auto;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.div2-heading {
  font-size: 3vw;
  padding-top: 1em;
  font-weight: bold;
  color: #383e56;
}

.div2-text {
  font-size: 1.2vw;
  color: #383e56;
}

.holder3 {
  width: auto;
  height: auto;
  padding: 5em;
  background-color: rgba(212, 181, 176, 0.3);
}

.div3-heading {
  text-align: center;
  font-size: 2.6em;
  color: #383e56;
}

.div3-text {
  font-size: 1.6vw;
  color: #383e56;
}

.about-me-heading2 {
  font-weight: normal;
  font-size: 2.5em;
  color: #383e56;
}
.about-me-div2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.about-me-pic{
  width: 100%;
}
.about-me-pic-slim{
  width: 100%;
  display: none;
}

.about-me-heading4 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  color: rgba(212, 181, 176, 0.8);
}

.dsgvo-style {
  width: 100%;
  padding: 3% 15%;
  color: #383e56;
}

/* NEW CONTACT NEW CONTACT NEW CONTACT */
.form {
  width: 100%;
  padding: 15px;
  background: #f8f8f8;
  border: 1px solid rgba(0, 0, 0, 0.075);
  margin-bottom: 25px;
  color: #727272 !important;
  font-size: 13px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.form:hover {
  border: 1px solid #8BC3A3;
}

.form:focus {
  color: white;
  outline: none;
  border: 1px solid #8BC3A3;
}

.textarea {
  height: 200px;
  max-height: 200px;
  max-width: 100%;
}

/* Generic Button Styles */
.button {
  padding: 8px 12px;
  background: #0A5175;
  display: block;
  width: 120px;
  margin: 10px 0 0px 0;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  font-size: 0.8em;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
}

.button:hover {
  background: #8BC3A3;
  color: white;
}

/* Send Button Styles */
.form-btn {
  width: 180px;
  display: block;
  height: auto;
  padding: 15px;
  color: #fff;
  background: #d4b5b0;
  border: none;
  border-radius: 3px;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin: auto;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
}

.form-btn:hover {
  background: #111;
  color: white;
  border: none;
}

.form-btn:active {
  opacity: 0.9;
}

center {
  margin-top: 330px;
}
input {
  position: relative;
  z-index: 9999;
}

/* Conatct start */
.header-title {
  text-align: center;
  color: #00bfff;
}

#tip {
  display: none;
}

.fadeIn {
  animation-duration: 3s;
}

.form-control {
  border-radius: 0px;
  border: 1px solid #EDEDED;
}

.form-control:focus {
  border: 1px solid #00bfff;
}

.textarea-contact {
  resize: none;
}

.btn-send {
  border-radius: 0px;
  border: 1px solid #00bfff;
  background: #00bfff;
  color: #fff;
}

.btn-send:hover {
  border: 1px solid #00bfff;
  background: #fff;
  color: #00bfff;
  transition: background 0.5s;
}

.second-portion {
  margin-top: 30em;
  text-align: center;
}

@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";
@import "http://fonts.googleapis.com/css?family=Roboto:400,500";

.box>.icon {
  text-align: center;
  position: relative;
}

.box>.icon>.image {
  position: relative;
  z-index: 2;
  margin: auto;
  width: 88px;
  height: 88px;
  border: 8px solid white;
  line-height: 88px;
  border-radius: 50%;
  background: #383e56;
  vertical-align: middle;
}

.box>.icon:hover>.image {
  background: #d4b5b0;
}

.box>.icon>.image>i {
  font-size: 36px !important;
  color: #fff !important;
}

.box>.icon:hover>.image>i {
  color: white !important;
}

.box>.icon>.info {
  margin-top: -10px;
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid #e0e0e0;
  padding: 15px 0 10px 0;
  min-height: 163px;
}

.box>.icon:hover>.info {
  background: rgba(0, 0, 0, 0.04);
  border-color: #e0e0e0;
  color: white;
}

.box>.icon>.info>h3.title {
  font-family: "Robot", sans-serif !important;
  font-size: 16px;
  color: #222;
  font-weight: 700;
}

.box>.icon>.info>p {
  font-family: "Robot", sans-serif !important;
  font-size: 13px;
  color: #666;
  line-height: 1.5em;
  margin: 20px;
}

.box>.icon:hover>.info>h3.title, .box>.icon:hover>.info>p, .box>.icon:hover>.info>.more>a {
  color: #222;
}

.box>.icon>.info>.more a {
  font-family: "Robot", sans-serif !important;
  font-size: 12px;
  color: #222;
  line-height: 12px;
  text-transform: uppercase;
  text-decoration: none;
}

.box>.icon:hover>.info>.more>a {
  color: #fff;
  padding: 6px 8px;
  background-color: #63B76C;
}

.box .space {
  height: 30px;
}

/* Conatct end */
.form2 {
  width: 70%;
  height: auto;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  float: right;
  padding: 20px 30px 2em 30px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.heading2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 70%;
  color: rgba(56, 62, 86, 1.0);
  border-bottom: 3px solid rgba(56, 62, 86, 0.7);
}

.input2 {
  width: 100%;
  padding: 2%;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  transition: all .3s;
  border-bottom: 2px solid rgba(56, 62, 86, 0.7);
}

.input3 {
  width: 100%;
  height: 4.5em;
  padding: 2%;
  box-sizing: border-box;
  background: none;
  outline: none;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  transition: all .3s;
  border-bottom: 2px solid rgba(56, 62, 86, 0.7);
}
.input4 {
  width: 100%;
  padding: 2%;
  box-sizing: border-box;
  background: none;
  outline: none;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  color: rgba(56, 62, 86, 0.7);
  transition: all .3s;
  border-bottom: 2px solid rgba(56, 62, 86, 0.7);
}

.input2:focus {
  border-bottom: 2px solid rgba(56, 62, 86, 0.7);
}

.p2:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 1.2em;
  float: left;
  color: rgba(56, 62, 86, 0.7);
}

.button2 {
  padding: 8px 12px;
  margin: 1.5em 0 3em;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid rgba(56, 62, 86, 0.7);
  background: 0;
  color: rgba(56, 62, 86, 0.7);
  cursor: pointer;
  transition: all .3s
}
.contact-button-div{
  text-align: right;
}
.absende-text {
  float: right;
  font-weight: bold;
  padding: 8px 12px;
  margin: 1.5em 0 3em;
  font-family: 'Montserrat', sans-serif;
  color: rgba(56, 62, 86, 0.8);
}
.absende-text-error{
  float: right;
  font-weight: bold;
  padding: 0px 12px;
  margin: 0em 0 3em;
  font-family: 'Montserrat', sans-serif;
  color: rgba(56, 62, 86, 0.8);
}

.button2:hover {
  background: rgba(56, 62, 86, 0.9);
  color: #fff
}

.div2 {
  content: "high";
  position: absolute;
  bottom: -2.5em;
  right: -20px;
  background: rgba(56, 62, 86, 0.9);
  color: #fff;
  width: 90%;
  padding: 16px 2px 16px 7px;
  text-align: center;
  border-radius: 6px;
  font-size: 1.1em;
  box-shadow: 10px 10px 40px -14px #000
}

span {
  margin: 0 5px 0 15px
}

.ente-img {
  width: 2.5em;
  padding-left: 0.3em;
  padding-bottom: 0.5em;
}

.google-maps {
  width: 75%;
  background-color: white;
}

.information-circles {
  width: 80%;
}
.contact-h3{
   margin-left: 25%;
   margin-right: 25%;
   color: rgba(56, 62, 86, 1.0);
   font-size: 1.3em;
}

#contact-card-text{
  font-size: 0.9em;
}
.contact-h3-slim{
  font-size: 1.3em;
  display: none;
}

/* ---------- SPRECHBLASE ABOUT ME ----------- */
.blockquote-wrapper {
       display: flex;
       padding: 0 20px;
       font-style: italic;
    }


    .blockquote {
        position: relative;
        max-width: 620px;
        margin: 80px auto;
        align-self: center;
    }

    .blockquote h1 {

        position: relative; / for pseudos /
        color: #383e56;
        font-size: 2.8rem;
        font-weight: normal;
        line-height: 1;
        margin: 0;
        border: 2px solid #fff;
        border: solid 2px;
        border-radius:20px;
        padding: 25px;
    }


    .blockquote h1:after {
        content:"";
        position: absolute;
        border: 2px solid #383e56;
        border-radius: 0 50px 0 0;
        width: 60px;
        height: 60px;
        bottom: -60px;
        left: 50px;
        border-bottom: none;
        border-left: none;
        z-index: 3;
    }

    .blockquote h1:before {
        content:"";
        position: absolute;
        width: 80px;
        border: 6px solid #fff;
        bottom: -3px;
        left: 50px;
        z-index: 2;
    }


    @media all and (min-width: 600px) {
        .blockquote h1 {
            font-size: 2.8rem;
            line-height: 1.2;
       }

    }


    .blockquote h4 {
        position: relative;
        color: #383e56;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.2;
        margin: 0;
        padding-top: 15px;
        z-index: 1;
        margin-left:150px;
        padding-left:12px;
    }


    .blockquote h4:first-letter {
      margin-left:-12px;
    }

  .holder4{
    width: 100%;
    height: auto;
	  color: #383e56;
  }

/* ---------- SPRECHBLASE ABOUT ME ----------- */

/* NEW CONTACT NEW CONTACT NEW CONTACT */
@media screen and (orientation : portrait) {
  #logo-style {
    width: 80%;
  }

  .carousel-img {
    display: none;
  }

  .carousel-img-slim {
    display: block;
    width: 100%;
  }
  .copyright-text{
    display: none;
  }
  .copyright-text-slim{
    display: block;
  }

  .service-landscape {
    display: none;
  }

  .service-portrait {
    display: block;
  }

  .paper-text-style-slim {
    display: block;
  }

  .paper-text-style {
    display: none;
  }

  .paper-col-img-style {
    display: none;
  }

  .paper-img-style-slim {
    display: block;
  }

  .img-holder-slim {
    display: flex;
  }
  .img-holder{
    display: none;
  }

  .about-me-heading {
    font-size: 8vw;
  }
  .about-me-pic{
    display: none;
  }
  .about-me-pic-slim{
    display: block;
  }
  .about-me-heading2 {
    font-size: 2em;
    padding: 5%;
  }
  .holder3 {
    padding: 1em;
  }

  .div3-heading {
    padding-top: 0.8em;
    font-size: 2.6em;
  }
  .div3-text {
    font-size: 1.5em;
  }

  div.blockquote {
    margin: 40px auto;
  }
  .blockquote h1 {
    font-size: 2.1em;
  }

  /* contact form */
  .form2 {
    float: none;
    width: 100%;
    height: auto;
    margin-bottom: 4em;
  }

  .google-maps {
    width: 100%;
    margin-top: 1em;
  }

  .information-circles {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .contact-h3{
    margin-left: 5%;
    margin-right: 5%;
  }
  .div2{
    right: 0;
  }
  #contact-card-text{
    font-size: 1.1em;
  }
  .contact-h3-slim{
    display: block;
  }
  .contact-h3{
    display: none;
  }
  .contact-h3-style{
    padding-bottom: 0%;
  }
  /* contact form */
  .box>.icon:hover>.image {
    background: #383e56;
  }
  .ente-img {
    widows: 2em;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) and (orientation: landscape) {
  /* contact form */
  .form2 {
    float: none;
    width: 100%;
    height: auto;
    margin-bottom: 4em;
  }
  .google-maps {
    width: 100%;
    margin-top: 1em;
  }
  .information-circles {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .contact-h3{
    margin-left: 5%;
    margin-right: 5%;
  }
  .div2{
    right: 0;
  }
  #contact-card-text{
    font-size: 1.1em;
  }
  .contact-h3-slim{
    display: block;
  }
  .contact-h3{
    display: none;
  }
  .contact-h3-style{
    padding-bottom: 0%;
  }
  /* contact form */
  .box>.icon:hover>.image {
    background: #383e56;
  }
  .ente-img {
    widows: 2em;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) and (orientation: portrait) {
  /*standard iPad*/
  #logo-style {
    width: 50%;
  }
  .about-me-pic{
    display: block;
  }
  .about-me-pic-slim{
    display: none;
  }
  /* contact form */
  .form2 {
    float: none;
    width: 100%;
    height: auto;
    margin-bottom: 4em;
  }
  .google-maps {
    width: 100%;
    margin-top: 1em;
  }
  .information-circles {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .contact-h3{
    margin-left: 5%;
    margin-right: 5%;
  }
  .div2{
    right: 0;
  }
  #contact-card-text{
    font-size: 1.1em;
  }
  .contact-h3-slim{
    display: block;
  }
  .contact-h3{
    display: none;
  }
  .contact-h3-style{
    padding-bottom: 0%;
  }
  /* contact form */
  .box>.icon:hover>.image {
    background: #383e56;
  }
  .ente-img {
    widows: 2em;
  }
  .img-holder-slim {
    display: flex;
    background-attachment: scroll;
    background-position: center center;
  }
  .img-holder{
    display: none;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    /*iPad PRO 12.9 inch*/
    .img-holder{
      display: none;
    }
    .img-holder-slim{
      display: flex;
      background-attachment: scroll;
      background-position: center center;
    }
    .about-me-pic{
      display: block;
    }
    .about-me-pic-slim{
      display: none;
    }
}

@media screen and (min-width: 2400px) {
  .about-me-pic{
    display: block;
  }
  .about-me-pic-slim{
    display: none;
  }
  #big-leistung{
    display: blocK;
  }
  #leistung{
    display: none;
  }
}

@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */
    .img-holder-slim{
        display:flex;
        background-attachment: scroll;
        background-position: center center;
    }
  }
